// Global
@import "./mixins";
@import "./settings.scss";

//Templates
@import "./templates/Navbar.scss";
@import "./templates/Footer.scss";
@import "./templates/Header.scss";

//Screens
@import "./screens/About.scss";
@import "./screens/Profil.scss";
@import "./screens/Skills.scss";
@import "./screens/Work.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
